*.swo
*.swp
.DS_Store
.FuzzyFinder
.Project
.project
.Project-*.vim
._*

.sass-cache
public/ckeditor_assets
public/system

/.bundle
vendor/bundle
/log/*.log
/log/*.gz
/tmp

/coverage
/private
/test_data

config/config.yml
config/secrets.yml
config/database.yml

/test/
/rspec.html
/spec/tmp

/mails

/public/uploads
dump.rdb

.yardoc/
doc/
*.log
